//variable definitions
@use '../styles/colors' as colors;
mat-grid-tile {
  color: "white";
  background-color: "blue";
}
mat-sidenav-content {
  padding: 10px;
}
mat-sidenav {
  background-color: colors.$sideNavColor;
  border-radius: 0px;
}

.topNavContainer {
  background-color: colors.$navBarColor;
  width: 100%;
  mat-icon {
    background-color: colors.$backgroundColor;
    padding: 5px;
    margin: 5px;
  }
  mat-icon:hover {
    border: 5px;
    border-color: blue;
  }
}

.sideNavContainer {
  background-color: colors.$backgroundColor;
  height: 100vh;
}

.contentCard {
  background-color: colors.$contentContainerColor;
  border: 2px solid colors.$contentFontColor;
  margin: 5px;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  padding: 20px;
}
.contentCard:hover {
  border: 2px solid black;
}

.content{
  padding: 20px;
  max-height: 100%;
  overflow-y: hidden;
  color: grey;
}
.content:hover {
  overflow-y: scroll;
}

.extendedContent {
  overflow: auto;
  padding: 20px;
  margin: 20px;
  max-height: 100%;
  max-width: 100%;
}

.extendedContentContainer {
  background-color: colors.$exntendedContentContainerColor;
  border: 2px solid grey;
}

.extendedContentContainer:hover {
  border: 2px solid black;
}


.feedContainer {
  margin: 10px;
  border: 2px solid grey;
}

