@import 'variables';
mat-grid-tile {
  color: "white";
  background-color: "blue";
}
mat-sidenav-content {
  padding: 10px;
}
mat-sidenav {
  background-color: $sideNavColor;
}

.topNavContainer {
  background-color: $navBarColor;
  width: 100%;
  mat-icon {
    background-color: white;
    padding: 5px;
    margin: 5px;
  }
  mat-icon:hover {
    border: 5px;
    border-color: blue;
  }
}

.contentContainer {
  background-color: $contentContainerColor;
  border: 2px solid grey;
}

.contentContainer:hover {
  border: 2px solid black;
}

.content {
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
  margin: 10px;
  padding: 20px;
}

.extendedContent {
  overflow: auto;
  padding: 20px;
  margin: 20px;
  max-height: 100%;
  max-width: 100%;
}

.extendedContentContainer {
  background-color: $exntendedContentContainerColor;
  border: 2px solid grey;
}

.extendedContentContainer:hover {
  border: 2px solid black;
}


.feedContainer {
  margin: 10px;
  border: 2px solid grey;
}

