@use '../../styles/colors' as colors;
.addTarget {
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
  position: relative;
  font-weight: bold;
  color: black;
}

.sideNavElementsContainer {
  padding: 20px;
}

.sideNavElements {
  color: colors.$contentFontColor;
  text-align: center;
}
